*{
    margin: 0;
    padding: 0;
}
.button:hover{
    cursor:grab;
    color: rgb(69, 69, 255);
    background-color: white;
    border: 2px solid rgb(69, 69, 255);

}
.button{
    background-color:  rgb(69, 69, 255);
    font-weight: bold;
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;

}